.vscode
.pio
!.pio/libdeps/esp32dev/WebSockets/src/WebSockets.cpp
# .pio/build
# .pio/libdeps/esp32dev/ArduinoJson@6.20.1
# .pio/libdeps/esp32dev/ArduinoJson
# .pio/libdeps/esp32dev/Unity
# .pio/libdeps/esp32dev/ESP32 events
# .pio/libdeps/esp32dev/integrity.dat
# .pio/libdeps/esp32dev/WebSockets

